.container {
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.secondContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

.collectionContainer {
    width: 40%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}