.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: relative;
    gap: 20px;
}

.secondContainer {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    display: flex;
}

.collectionContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap; 
}

.searchForm {
    display: flex;
    align-items: center;
    justify-content: center;
}

.search__input {
    height: 30px;
    width: 80%;
    border: none;
    box-shadow: 2px 2px 2px black;
}

input {
    transition: ease all 0.3s;
}

input:focus {
    outline: none;
    background-color: rgb(227, 227, 227);
}