.mainContainer {
    margin-left: auto;
    margin-right: auto;
    height: 95vh;
    width: 100%;
    border: 1px solid black;
    
}

.container {
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    position: relative;
    justify-content: center;
}

.title {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 10%;
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.secondContainer {
    width: 45%;
    height: 90%;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 15px;
}