.container {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 200px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    transition: all 1.2s ease;
}

.container:hover {
    background-color: rgb(255, 200, 0);
    cursor: pointer;
}